.near {
  --token-accent-color: #00EC97;
}

.evmos {
  --token-accent-color: #EC4E32;
}

.axelar {
  --token-accent-color: #FFFFFF;
}

.starknet {
  --token-accent-color: #EC796B;
}

.celestia {
  --token-accent-color: #7B2BF9;
}

.ethereum,
.eth1 {
  --token-accent-color: #627EE9;
}