:root {
  --lava-brand: #FF3900;

  --orange-300: #FF822F;
  --orange-400: #FF6839;
  --orange-500: #EF6000;
  --orange-600: #F93800;

  --dark-red: #841D00;
  --darker-red: #410E00;

  --dark: #05090F;

  --grey-100: #B9B9B9;
  --grey-200: #787A7E;
  --grey-300: #5E6167;
  --grey-400: #212630;
  --grey-500: #1B212A;
  --grey-600: #0C121A;
  --grey-700: #05090F;

  --border-grey: #EDEDED;
  --white: #FFFFFF;

  --token-accent-color: var(--white);
}