:root {
  --font-family-helvetica: "Helvetica Neue", sans-serif;
  --font-family-sharp-medium: "sharp_groteskmedium_25", sans-serif;
  --font-family-sharp-book: "sharp_groteskbook_25", sans-serif;
  --font-family-retro: "retro_computer", sans-serif;

  --body-bg-color: var(--dark);
  --body-color: var(--white);
  --body-font-size: 16px;
  --body-font-family: var(--font-family-helvetica);
}