:root {
  //MEASUREMENTS @16px
  --px1: 0.0625em;
  --px2: 0.125em;
  --px3: 0.1875em;
  --px4: 0.25em;
  --px5: 0.3125em;
  --px6: 0.375em;
  --px8: 0.5em;
  --px9: 0.5625em;
  --px10: 0.625em;
  --px11: 0.6875em;
  --px12: 0.75em;
  --px13: 0.8125em;
  --px14: 0.875em;
  --px18: 1.125em;
  --px20: 1.25em;
  --px22: 1.375em;
  --px24: 1.5em;
  --px26: 1.625em;
  --px28: 1.75em;
  --px30: 1.875em;
  --px32: 2em;
  --px34: 2.125em;
  --px36: 2.25em;
  --px40: 2.5em;
  --px44: 2.75em;
  --px48: 3em;
  --px50: 3.125em;
  --px56: 3.5em;
  --px64: 4em;
  --px65: 4.0625em;
  --px70: 4.375em;
  --px80: 5em;
  --px1360: 85em;

  //MEASUREMENTS @14px
  --font-size-14-px1: 0.071em;
  --font-size-14-px2: 0.142em;
  --font-size-14-px4: 0.285em;
  --font-size-14-px5: 0.357em;
  --font-size-14-px6: 0.428em;
  --font-size-14-px8: 0.571em;
  --font-size-14-px10: 0.714em;
  --font-size-14-px12: 0.857em;
  --font-size-14-px16: 1.142em;
  --font-size-14-px18: 1.285em;
  --font-size-14-px20: 1.428em;
  --font-size-14-px24: 1.714em;
  --font-size-14-px26: 1.857em;
  --font-size-14-px28: 2em;
  --font-size-14-px30: 2.142em;
  --font-size-14-px32: 2.285em;
  --font-size-14-px36: 2.571em;
  --font-size-14-px40: 2.857em;
  --font-size-14-px44: 3.142em;
  --font-size-14-px48: 3.428em;

  //MEASURMENTS @12px
  --font-size-12-px1: 0.083em;
  --font-size-12-px2: 0.166em;
  --font-size-12-px3: 0.25em;
  --font-size-12-px4: 0.333em;
  --font-size-12-px5: 0.416em;
  --font-size-12-px6: 0.5em;
  --font-size-12-px8: 0.666em;
  --font-size-12-px10: 0.833em;
  --font-size-12-px14: 1.166em;
  --font-size-12-px16: 1.333em;
  --font-size-12-px18: 1.5em;
  --font-size-12-px20: 1.666em;
  --font-size-12-px28: 2.333em;
  --font-size-12-px30: 2.5em;
  --font-size-12-px32: 2.666em;
  --font-size-12-px34: 2.833em;
  --font-size-12-px40: 3.333em;
}