:root {
  --lava-brand: #FF3900;

  --orange: #EF6000;
  --light-orange: #FF822F;

  --dark-red: #841D00;
  --darker-red: #410E00;

  --dark: #05090F;

  --grey-100: #B9B9B9;
  --grey-200: #787A7E;
  --grey-300: #5E6167;
  --grey-400: #212630;
  --grey-500: #1B212A;
  --grey-600: #05090F;

  --border-grey: #EDEDED;
  --white: #FFFFFF;
}