.cCardData {
  &:global {
    &.c-card-data {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      padding: var(--px24);
      background: url("../../public/images/lava-grain-bg-x2.webp") no-repeat center /cover;
      border: var(--px1) solid var(--grey-400);
      border-radius: var(--px20);

      > div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: var(--px4);

        h2 {
          margin-bottom: 0;
          font-weight: 400;
        }

        small {
          color: var(--grey-200);
          font-size: var(--px14);
        }
      }

      > h3 {
        margin-bottom: 0;
        letter-spacing: -0.004em;
        font-weight: normal;
      }

      @media (max-width: 991px) {
        > h3 {
          font-size: var(--px26);
          line-height: 1.4em;
        }
      }

      @media (max-width: 767px) {
        > h3 {
          font-size: clamp(var(--px20), 4.333vw, var(-px26));
          line-height: 1.4em;
        }
      }
    }
  }
}