.cHeaderDropdown {
  &:global {
    &.c-header-dropdown {
      width: 100vw;
      padding: 0 var(--px24);
      background-color: transparent;
      border-radius: 0;
      font-size: 1em;

      .tippy-content {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: var(--px1360);
        margin: 0 auto;
        padding: 22px 0 0;
        background-color: var(--grey-600);
        border-radius: 0 0 var(--px32) var(--px32);
        overflow: hidden;
      }

      .c-header-dropdown-grid {
        display: grid;
        grid-template-columns: 1fr 400px; //400px
        align-items: stretch;
        width: 100%;
        max-width: 100%;

        &-item {
          display: flex;
          flex-direction: column;
          padding: var(--px24);

          &.menu {
            > div {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
              grid-template-rows: repeat(3, 1fr);
              grid-auto-flow: column;
              gap: var(--px20) var(--px24);

              a {
                display: flex;
                align-items: flex-start;
                gap: var(--px8);
                padding: 1em var(--px24);
                border-radius: var(--px12);
                box-shadow: inset 0 0 0 1px transparent;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;

                &:hover,
                &:focus {
                  background-color: var(--lava-brand);
                  box-shadow: inset 0 0 0 1px var(--orange-400);

                  .text > small {
                    color: var(--body-color);
                  }
                }

                .icon {
                  width: var(--px20);
                  height: var(--px20);
                }

                .text {
                  display: flex;
                  flex-direction: column;
                  row-gap: var(--px8);

                  >* {
                    display: block;
                  }

                  >span {
                    font-weight: 500;
                  }

                  small {
                    width: 100%;
                    max-width: 22.571em; //316px @14px
                    color: var(--grey-200);
                    font-size: var(--px14);
                    font-weight: normal;
                    line-height: 1.4em; //19.6px @14px
                    transition: color 0.3s ease;
                  }
                }
              }
            }
          }

          &.banner {
            background: url("../../public/images/lava-orange-bg-x2.webp") no-repeat center center/cover;

            .text {
              display: flex;
              flex-direction: column;
              row-gap: var(--px8);

              h2, p {
                margin-bottom: 0;
              }
            }

            .c-header-dropdown-grid-item-social-media {
              display: flex;
              flex-direction: column;
              row-gap: var(--px24);

              > p {
                margin-bottom: 0;
                font-size: var(--px18);
                font-family: var(--font-family-retro);
                letter-spacing: 0.08em;
              }

              &-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                column-gap: var(--px24);

                >.c-button {
                  --btn-size: 48px;
                  --btn-icon-size: 22px;
                }
              }
            }

            > .c-button-container {
              margin-top: auto;
              padding-top: var(--px20);

              > .c-button {
                --btn-min-height: 44px;
                --btn-border-radius: 40px;
              }
            }

            &:has(.c-header-dropdown-grid-item-social-media) {
              >.c-button-container {
                margin-top: unset;
              }

              .c-header-dropdown-grid-item-social-media {
                margin-top: auto;
              }
            }
          }
        }
      }
    }
  }
}