.cHeader {
  &:global{
    &.c-header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9998;
      display: flex;
      align-items: center;
      width: 100%;
      height: var(--header-height);
      padding: 0 var(--responsive-24px-to-16px);
      background-color: var(--grey-700);

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: var(--px1);
        background-color: var(--grey-400),
      }

      .c-header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        height: 100%;
        background-color: var(--grey-700);
      }

      .c-button-container {
        gap: 0;

        .c-button {
          --btn-min-height: var(--px48);
          --btn-border-radius: var(--px40);
          --btn-padding-y: var(--px5);
          --btn-padding-x: var(--px24);
          --btn-font-size: 1em;

          &.is-open {
            --btn-color: var(--white);
            --btn-bg-color: var(--grey-500);
          }
        }
      }

      @media(max-width: 1199px) {
        .c-button-container .c-button {
          --btn-min-height: var(--font-size-14-px36);
          --btn-border-radius: var(--font-size-14-px18);
          --btn-padding-y: var(--font-size-14-px5);
          --btn-padding-x: var(--font-size-14-px16);
          --btn-font-size: var(--px14);
        }
      }
    }
  }
}