.cHomeSectionPools {
  &:global {
    &.c-home-section-pools {
      padding-bottom: var(--px48);

      .c-home-section-pools-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--px32);
        height: auto;
        min-height: 698px;

        &-wrapper {
          display: grid;
          grid-template-columns: 1fr;
          gap: var(--px32);
          width: 100%;
          max-width: 100%;
        }

        &-content {
          display: flex;
          flex-direction: column;
          height: auto;
          min-height: unset;
          width: 100%;
          max-width: 100%;
          overflow: hidden;

          @media (min-width: 992px) {
            min-height: 698px;
          }

          .swiper {
            flex: 1;
            width: 100%;
            max-width: 100%;

            .swiper-wrapper {
              height: inherit;
              margin-top: 2px;
              margin-bottom: 2px;

              @media (min-width: 992px) {
                display: grid;
                grid-auto-flow: column;
                align-items: stretch;
                grid-template-rows: 1fr;
                gap: var(--px12);

                .swiper-slide {
                  margin: 0 !important;
                  height: auto !important;
                  width: 100% !important;
                  max-width: 100% !important;
                }
              }
            }
          }
        }
      }

      .c-home-section-pools-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        row-gap: 1em;

        @media(min-width: 992px) {
          justify-content: center;
        }

        > .c-button {
          flex-shrink: 0;
        }
      }
    }
  }
}
