.cHomeBanner {
  &:global {
    &.c-home-banner {
      --home-banner-border-radius: var(--px20);

      background: linear-gradient(to top, #212630 0%, rgba(33, 38, 48, 0) 22.05%) center/ cover, url("../../public/images/lava-grid-bg-x2.webp") repeat top 1% left 1%/890px auto, linear-gradient(0deg, #1A232F 0%, #0C121A 46.5%) center/ cover;
      border: var(--px1) solid var(--grey-400);
      border-radius: var(--home-banner-border-radius);

      .c-home-banner-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(2, min-content);
        align-items: center;
        gap: 1em;
        padding: var(--px8) var(--px8) var(--px8) var(--px24);
        border-radius: var(--home-banner-border-radius);

        @media(min-width: 768px) {
          grid-template-rows: repeat(4, min-content);

          &-item-text {
            grid-area: 2 / 1 / 3 / 2;
          }

          &-item-image {
            grid-area: 1 / 2 / 5 / 3;
          }

          .c-button-container {
            grid-area: 3 / 1 / 4 / 2;
          }
        }

        &-item-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: var(--px4);

          h2 {
            letter-spacing: -0.01em;
          }

          p {
            margin-bottom: 0;
            color: var(--grey-100);
          }
        }

        &-item-image {
          position: relative;
          display: flex;
          flex-direction: column;
        }
      }

      &.lavuci-bag {
        .c-home-banner-grid {
          &-item-image {
            width: 9.125em; // 146px
            height: 7.375em; // 118px (134px height - 16px padding top/bottom = 118px)

            img {
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 1;
              width: 9.125em; //146px
              height: 9.125em;
            }
          }

          .c-button-container > .c-button {
            --btn-color: var(--grey-100);

            &:hover,
            &:focus {
              --btn-color: var(--white);
            }
          }
        }
      }

      &.lavuci {
        .c-home-banner-grid {
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 0;

          &-item-image {
            justify-content: flex-end;
            width: 9.375em; //150px
            height: 100%;
            border-radius: var(--home-banner-border-radius);
            overflow: hidden;

            img {
              width: 100%;
              max-width: 100%;
              height: auto;
              object-fit: contain;
            }
          }
        }
      }

      @media (max-width: 767px) {
        --home-banner-border-radius: 1em;

        .c-home-banner-grid {
          row-gap: 0;

          .c-home-banner-grid-item-text p {
            font-size: var(--px14);
            line-height: 1.4em; //19.6px
          }
        }

        &.lavuci-bag {
          .c-home-banner-grid {
            padding: 0 0 1em 1em;

            &-item-image {
              order: 2;
              width: 5.5em; //88px
              height: 5.5em;

              img {
                width: 5.5em; //88px
                height: 5.5em;
                top: 0;
                bottom: unset;
              }
            }

            .c-button-container {
              grid-column: span 2;
              order: 3;
            }
          }
        }

        &.lavuci {
          .c-home-banner-grid {
            padding: 1em 0 0 1em;

            &-item-image {
              position: relative;
              justify-content: flex-end;
              width: 5.5em; //88px
              height: 4.1875em; //67px
              border-radius: 1em;
              overflow: hidden;

              img {
                position: absolute;
                top: 0;
                width: 5.5em; //88px
                height: 5.5em;
                object-fit: contain;
              }
            }

            &-item-text {
              grid-column: span 2;
              padding-right: 1em;
            }

            .c-button-container {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
