.cHomeSectionPools {
  &:global {
    &.c-home-section-pools {
      padding-bottom: var(--px48);

      .c-home-section-pools-header {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        margin-bottom: var(--px32);

        .c-form-group-search {
          width: 100%;
          max-width: 445px;
        }

        .c-form-group-select {
          width: 100%;
          max-width: 269px;
        }
      }

      .c-home-section-pools-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--px32);

        @media (min-width: 992px) {
          min-height: 781px;
        }

        &-wrapper {
          display: grid;
          grid-template-columns: 1fr;
          gap: var(--px32);
          width: 100%;
          max-width: 100%;
        }

        &-content {
          display: flex;
          flex-direction: column;
          height: auto;
          min-height: unset;
          width: 100%;
          max-width: 100%;
          overflow: hidden;

          @media (min-width: 992px) {
            min-height: 698px;
          }

          .swiper .swiper-wrapper {
            align-items: stretch;
            margin-bottom: var(--px2);

            .swiper-slide {
              display: flex;
              flex-direction: column;

              @media( min-width: 768px) {
                height: 100%;
                max-height: calc(50% - 6px);
              }
            }
          }
        }

        .c-home-section-pools-footer {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1em;

          @media(min-width: 992px) {
            justify-content: center;
          }

          > .c-button {
            flex-shrink: 0;
          }
        }
      }

      @media(max-width: 991px) {
        .c-home-section-pools-header {
          flex-direction: column;
          align-items: flex-start;
          row-gap: var(--px24);
          margin-bottom: var(--px24);

          .c-form-group-search,
          .c-form-group-select {
            max-width: 100%;
          }
        }
      }
    }
  }
}
