.cHomeSectionPools {
  &:global {
    &.c-home-section-pools {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--px12);
      width: 100%;
      max-width: 100%;
      padding-bottom: var(--px48);

      @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
      }

      @media (min-width: 992px) {
        padding-bottom: var(--px64);
      }
    }
  }
}
