.cHomeSectionPoolsCards {
  &:global {
    &.c-home-section-pools-card {
      --pool-card-border-radius: var(--px20);

      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      padding: 1px;
      border-radius: var(--pool-card-border-radius);
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: auto;
        border-radius: var(--pool-card-border-radius);
        border: 1px solid transparent;
        background: linear-gradient(180deg, #171C26 0%, hsl(from var(--token-accent-color) h s l / 0.5) 100%) border-box;
        mask: linear-gradient(to bottom, black 0, black 100%) content-box, linear-gradient(to bottom, black 0, black 100%);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }

      small, em {
        font-size: var(--px14);
      }

      em {
        font-style: normal;
      }
    }
  }

  :global {
    .c-home-section-pools-card {
      &-wrapper {
        flex-grow: 1;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: var(--px24);
        width: 100%;
        max-width: 100%;
        padding: var(--responsive-24px-to-16px);
        border-radius: var(--pool-card-border-radius);
        background:
          linear-gradient(
              180deg,
              hsl(from var(--token-accent-color) h s l / 0.5) 0%,
              rgba(23, 28, 38, 0) 15.11%,
              rgba(23, 28, 38, 0) 92%,
              rgba(23, 28, 38, 0.01) 100%
          ),
          url("../../public/images/lava-grain-bg-x2.webp") no-repeat center / cover;
        overflow: hidden;
      }

      &-header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160.5px, 1fr));
        align-items: flex-start;
        gap: var(--px11) 1em;
        flex-wrap: wrap;
        margin-bottom: auto;

        &-text {
          display: inline-flex;
          align-items: flex-start;
          gap: var(--px12);

          i {
            width: var(--px48);
            height: var(--px48);
          }

          h2 {
            margin-bottom: 0;
          }

          small {
            display: block;
            color:  var(--grey-100);
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          row-gap: var(--px3);
          margin: var(--px5) 0 0;
          padding: 0;
          list-style: none;

          li {
            line-height: 1em;

            em {
              color: var(--grey-100);

              @media(min-width: 992px) {
                white-space: nowrap;
              }
            }
          }
        }
      }

      &-rewards {
        display: flex;
        flex-direction: column;
        row-gap: var(--px8);

        &-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: var(--px4) 1em;

          > span,
          > div {
            font-size: var(--px14);
            line-height: 1em;

            > * {
              font-size: 1em;
            }
          }

          > span {
            flex: 0 0 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            >em {
              color: var(--grey-100);
              display: block;
            }

            >small {
              display: block;
              color: var(--grey-200);
            }
          }

          p {
            margin-bottom: 0;
            font-weight: normal;
          }

          > div > em {
            color: var(--grey-100);
          }
        }

        &-progressbar {
          display: flex;
          align-items: stretch;
          flex-wrap: nowrap;
          column-gap: var(--px2);

          > div {
            width: 100%;
            height: var(--px8);
            border-radius: var(--px6);
          }
        }
      }

      &-rewards-data {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          align-items: center;
          gap: var(--px4) 1em;
          line-height: 1em;

          span {
            font-size: var(--px14);
            flex-grow: 1;

            &:first-of-type {
              color: var(--grey-100);
            }
          }

          i {
            width: var(--font-size-14-px8);
            height: var(--font-size-14-px8);
            margin-right: var(--font-size-14-px4);
            border: var(--font-size-14-px1) solid var(--grey-400);
            border-radius: 100%;
          }
        }
      }

      &-footer {
        display: flex;
        align-items: center;
        gap: var(--px8) 1em;
        flex-wrap: wrap;

        > .c-button {
          flex-grow: 1;
        }
      }

      @media(max-width: 991px) {
        &-header {
          grid-template-columns: 1fr;
        }

        &-rewards-header {
          flex-direction: column;
          align-items: flex-start;
          row-gap: var(--px4);

          > span {
            flex: unset;
          }
        }

        &-rewards-data li {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
