.cHomeSectionChainsTable {
  &:global {
    &.c-home-section-chains-table {
      .c-table {
        @media (min-width: 992px) {
          thead tr th:last-child,
          tbody tr td:last-child {
            width: 0;
          }
        }

        tbody tr {
          td:first-child {
            .c-flexbox {
              column-gap: var(--px12);

              i {
                width: var(--px32);
                height: var(--px32);
              }

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      @media (max-width: 991px) {
        .c-table {
          tbody tr td:last-child {
            > .c-button-container {
              flex-wrap: wrap;

              >.c-button {
                flex-grow: 1;
              }
            }
          }
        }
      }
    }
  }
}
