.cHomeSectionPreview {
  &:global {
    &.c-home-section-preview {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: var(--px24) var(--px20);
      padding-top: 2.875em; //46px
      padding-bottom: var(--px32);

      .c-home-section-preview-text {
        display: flex;
        flex-direction: column;
        row-gap: var(--px8);

        h1 {
          font-size: clamp(var(--px32), 2.917vw, var(--px56));
          letter-spacing: -0.001em;
        }

        p {
          margin-bottom: 0;
          color: var(--grey-100);
          font-size: clamp(var(--px18), 1.042vw, var(--px20));
          line-height: 1.4em;
        }
      }

      .c-home-section-preview-banner {
        flex: 0 0 auto;
      }

      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: unset;
        padding-top: var(--px24);
        padding-bottom: var(--px32);

        .c-home-section-preview-text {
          h1 {
            font-size: var(--px26);
            line-height: 1.4em;
          }

          p {
            font-size: 1em;
            line-height: 1.4em;
          }
        }

        .c-home-section-preview-banner {
          flex: 0 0 100%;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
